dist-newstyle/
dist/
*.hi
*.o
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
*.ps
*.pdf
*.png
*.svg
*.tix
*.chi
*.chs.h
*.chi
*.dump-hi
*.dump-asm
*.dump-simpl
*.dump-stg
*.dump-cmm
*.dump-core
*.dump-timings
*.dump-call-arity
*.dump-rules
*.dump-spec
*.dump-spec-constr
*.dump-stranal
*.dump-worker-wrapper
*.conf
*.cache
*.log
*.tmp
setup-config
